$light: #FFFFFF;
$dark: #000814;
$brown: #593801;
$brown-2: #7F5209;
$brown-3: #AA7E64;
$cream: #F7F1EC;
$gray: #8F8A87;


.btn {
    position: relative;
    padding: fluid(10, 20) fluid(10, 40);
    display: inline-block;
    font-size: fluid(12, 18);
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: rem(50);
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, $brown 0%, $brown-2 100%);
    color: $light;
    border: 3px solid $light;
}